.chain_of_trust_element {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5em;
}
.chain_of_trust_data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2em;
    min-width: 38%;
    max-width: 38%;
    word-wrap: break-word;
    font-family: monospace;
    white-space: pre-wrap;
    border-style: groove;
}
.chain_of_trust_description {
    min-width: 60%;
    max-width: 60%;
}
.hidden {
    visibility: hidden;
}
.generate_floating {
    position: fixed;
    color: white;
    width: 100%;
}
.generate_floating_wrapper {
    height: 5%;
}

html, body {
    height: 100%
}

.data_line {

}